@define-color background #2E3440;
@define-color foreground #D8DEE9;
@define-color lg1 #E5E9F0;
@define-color lg2 #88C0D0;

* {
    font-size: 11.5px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left {
    padding: 3px;
    margin: 5px 0px 2px 10px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 3px;
    margin: 5px 0px 2px 0px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding: 3px;
    margin: 5px 10px 2px 0px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background: @background;
    color: @lg1;
    font-size: 7.5px;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#custom-wifi:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color: @lg2;
}

#custom-notification {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#clock {
    padding: 0px 3px;
    color: @lg1;
    transition: all .3s ease;
    padding-top: 3px;
    padding-bottom: 3px;
}

#custom-pacman {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces {
    padding: 0px 3px;
}

#workspaces button {
    all: unset;
    padding: 0px 3px;
    color: alpha(@lg2, .4);
    transition: all .2s ease;
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @lg2;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @lg2;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#bluetooth {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#network {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#custom-wifi {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#battery {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand {
    padding: 0px 3px;
    transition: all .3s ease;
    padding-top: 3px;
    padding-bottom: 3px;
}

#custom-expand {
    padding: 0px 3px;
    color: alpha(@foreground, .2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
    padding-top: 3px;
    padding-bottom: 3px;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-colorpicker {
    padding: 0px 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#cpu,
#memory,
#temperature {
    padding: 0px 3px;
    transition: all .3s ease;
    color: @lg1;
    padding-top: 3px;
    padding-bottom: 3px;
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
    padding-top: 3px;
    padding-bottom: 3px;
}

#tray {
    padding: 0px 3px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0px 3px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 3px;
    transition: all .3s ease;
}
